/* *{
    margin: 0px;
    font-family: sans-serif, 微軟正黑體;
    sans-serif(黑體)、serif(明體)、
    fantasy(裝飾體)、cursive(手寫體)、monospace(等寬體)
}
body{
    background-color: rgb(252, 248, 248, 0.3);
    background-image: url(/img/whsport.jpg);
    background-repeat: no-repeat;圖片不重複
    background-position: center;置中
    background-size: cover;背景圖片等比例放大
}
nav{
    background-color:#fff;
    text-align: center;
    font-size: 0;
    border-bottom: 1px solid;
    border-color: rgb(156, 156, 156);
}

nav a{
    background-color: #fff;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 18px;
    background-color: #fff;
    padding: 6px 20px;
    margin-top: 0px;
    transition: 0.5s;
}
.logo{
    background-color: #fff;
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar:hover{
    background-color: rgb( 0, 0, 0, .2);
    transition: 0.5s;
} */

/* .container{
    display: flex;
    justify-content: space-around;分散對其
    justify-content: center;置中對其
} */
/* .Item{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 50px;
    padding: 150px;
    border: #000 2px solid;
} */
/* .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    margin: 20px 200px;
    gap: 20px;
}
.Item{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
} */

*{
    font-size: 100%;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    line-height: 1.7;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url(/img/whstore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .navbar{
    text-decoration: none;
    font-weight: bold;
    display: flex;
    font-size: 1.5rem;
}
.navbar-h{
    color: #000;
    padding: 7px 13px;
    margin: 0px 7px;
    border-radius: 5px;
}
.navbar-h:hover{
    color: #000;
    background-color: rgb(0, 0, 0, 0.25);
    transition: 0.5s
} */
/* navbar dropdown */
/* .dropdown1{
    display: none;
}
.navbar-h:hover .dropdown1{
    display: block;
    position: absolute;
    background: #fff;
    margin-top: 15px;
    margin-left: 15px;
} */

/* header */
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 4%; 
    position: fixed;
    z-index: 1000;
    top: 0px;
    background-color: rgb(255, 255, 255, 1);
    /* opacity: 0.8; */
    color: #fff;
    box-shadow: 0px 1px 15px rgb(104, 104, 104);

}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.logo{
    width: 80px;
}
/* test */
.navbar ul{
    text-align: center;
    display: inline-flex;
    list-style: none;
    font-size: 20px;
    /* font-weight: bolder; */
    margin-bottom: 0px;
}
.navbar ul li{
    align-items: center;
    width: 140px;
    /* margin: 10px; */
    padding: 10px 15px;
    margin: 0px 5px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.navbar ul li:hover{
    background: rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}
.dropdown1{
    display: none;
    font-weight: normal;
}
.navbar ul li:hover .dropdown1{
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
    margin-left: -15px;
    border-radius: 5px;
}
.navbar ul li:hover .dropdown1 ul{
    display: block;
    margin: 5px;
    text-align: left;
    padding-left: 10px;
    margin: 5px 0px;
}
.navbar ul li:hover .dropdown1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #000;
    background: transparent;
    border-radius: 0;
    text-align: left;
    margin-right: 0px;
}
.navbar ul li:hover .dropdown1 ul li:last-child{
    border-bottom: none;
}
.navbar ul li:hover .dropdown1 ul li a:hover{
    color: rgb(105, 105, 105);
}
.dropdown2{
    display: none;
    font-weight: normal;
}
.hover-me:hover .dropdown2{
    position: absolute;
    display: block;
    margin-top: -49px;
    margin-left: 140px;
    background: rgb(255, 255, 255,0.9);
    border-radius: 5px;
}
/* header-end */

/* home-page-container */
.home-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 800px;
    margin-left: 60%;
    padding-top: 17%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.home-page-intro{
    padding-top: 40px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    font-size: 1.3rem;
    /* font-weight: 10px; */
}
.page-title{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}
.home-page-button{
    /* font-weight: bolder; */
    color: #fff;
    background-color: #000;
    padding: 6px 12px;
    padding-top: 4px;
    border-radius: 5px;
    text-decoration: none;
}
.home-page-button:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
}
/* news */
.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    height: 850px;
    padding-top: 30px;
    border-width: 0px;
}
.news-container h1{
    padding-top: 10px;
    font-size: 2.5rem;
}
/* news-slider */
.news-slider{
    margin-top: 20px;
    height: 650px;
    width: 1200px;
    overflow: hidden;
    border-radius: 5px;
}
.sliders{
    display: flex;
    height: 650px;
    width: 500%;
}
.sliders input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 1200px;
    height: 650px;
}

.navigation-manual{
    position: absolute;
    width: 1200px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid rgb(255, 255, 255, 0.5);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: rgb(255, 255, 255, 0.6);
}

#radio1:checked~ .first{
    margin-left: 0;
}
#radio2:checked~ .first{
    margin-left: -20%;
}
#radio3:checked~ .first{
    margin-left: -40%;
}
#radio4:checked~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 620px;
}
.navigation-auto div{
    border: 2px solid rgb(255, 255, 255, 0.5);
    padding: 5px 20px;
    border-radius: 5px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked~ .navigation-auto .auto-btn1{
    background-color: rgb(255, 255, 255, 0.6);
}
#radio2:checked~ .navigation-auto .auto-btn2{
    background-color: rgb(255, 255, 255, 0.6);
}
#radio3:checked~ .navigation-auto .auto-btn3{
    background-color: rgb(255, 255, 255, 0.6);
}
#radio4:checked~ .navigation-auto .auto-btn4{
    background-color: rgb(255, 255, 255, 0.6);
}

.space{
    height: 30px;
    background-color: #fff;
}

/* com-container */
.com-container{
    background-color: rgb(224, 224, 224);
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
}
.com-img-slider{
    width: 55%;
    height: 800px;
    background-image: url(/img/nike4.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
    overflow: hidden;
}
.com-bg{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,rgb(0,0,0,0),rgb(255,255,255,1));
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: left;
}
.com-img-slider:hover .com-bg{
    transform: scaleX(1);
}
.com-bg h1{
    font-size: 60px;
    font-weight: bolder;
    color: #000;
}


.com-info{
    height: 800px;
    width: 45%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.com-info-h{
    display: flex;
    padding: 0px;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
}
.carousel{
    margin: 0px;
    padding: 0px;    
    width: 500px;
    height: 500px;
}
.carousel-control-prev{
    top: 100px;
    left: -70px;
}
.carousel-control-next{
    top: 100px;
    right: -70px;
}
.carousel-indicators{
    bottom: -200px;
}
.carousel-caption{
    background: linear-gradient(
    rgb(255 ,255 ,255 ,0 ), rgb(0, 0, 0,1 )    
    );
    width: 500px;
    margin: 0;
    padding: 0;
    left: 0px;
    height: 550px;
    bottom: 0px;
    padding-top: 380px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.5s;
}
.carousel-inner:hover .carousel-caption{
    transform: scaleY(1);
}
.carousel-caption h5{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}
.carousel-caption h5::after{
    content: "";
    position: absolute;
    left: 50px;
    bottom: 115px;
    height: 5px;
    width: 80%;
    background-color: lightgreen;
    transform: scaleX(0);
    /* transform-origin: left; */
    transition: 0.8s;
    transition-delay: 0.4s;
}
.carousel-inner:hover .carousel-caption h5::after{
    transform: scaleX(1);
}
.carousel-caption p{
    color: #fff;
}
.carousel-caption a{
    color: #000;
    /* font-weight: bold; */
    background-color: #fff;
    padding: 8px;
    padding-top: 6px;
    border-radius: 5px;
    transition: 0.5s;
}
.carousel-caption a:hover{
    color: #fff;
    background-color: rgb(0, 0, 0, 0);
}






/* <!-- 商品slider start --> */
/* .hi-slide{
    width: 45%;
    position: relative;
    height: 500px;
}
.hi-prev, .hi-next{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;   
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 1s;
    font-size: 20px;
    font-weight: bold;
}
.hi-prev:hover, .hi-next:hover{
    opacity: 1;
    background-color: #fff;
}
.hi-prev::before{
    content: '<';
}
.hi-next{
    right: 0px;
}
.hi-next::before{
    content: '>';
}

.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 80%;
    margin: 0;
    padding: 0;
}
.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 3px solid #fff;
    background-color: #fff;
    cursor: pointer;
}
.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
} */

/* <!-- 商品slider end --> */



.new-product h1{
    padding-top: 10px;
    font-size: 2.5rem;
}
.new-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    height: 750px;
    padding-top: 0px;
    border-width: 0px;
}
.product-container{
    /* background-color: #fff; */
    padding-top: 50px;
    width: 80%;
    height: 450px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.Item{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.Item:hover{
    transform: translateY(20px);
}
.Item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61 ,1)); */
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.Item:hover::before{
    opacity: 1;
}
.Item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.item-info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.item-info:hover{
    opacity: 1;
    transform: translateY(0px);
}
.item-info h1{
    margin: 0;
}
.item-info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.item-btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.item-btn:hover{
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.product-readmore{
    text-align: center;
}
.btn{
    top: 25px;
    border:none;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    padding-top: 8px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    /* font-weight: bolder; */
}
.btn:hover{
    background: none;
    color: #000;
}
/* .readmore-btn1{
    color: #fff;
}
.readmore-btn1:hover{
    color: #000;
} */
/* .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #000;
    z-index: -1;
    transition: 0.8s;
    opacity: 0.5;
} */
/* .readmore-btn1::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
    height: 180%;
}
.readmore-btn1:hover::before{
    height: 0%;
} */

.brand{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 150px;
}
.br-container img{
    width: 150px;
    cursor: pointer;
    filter: grayscale(100%);
}
.br-container img:hover{
    filter: grayscale(0);
}

.qrcode{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 100px;
}

/* footer */
.page-footer{
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(163, 163, 163);
    background-color: #737CA1;
    height: 150px;
}